@page "/product"
@rendermode InteractiveServer

<PageTitle>Products</PageTitle>

<div class="filter-container">
    <div class="drop-down-filters">
        <select name="categories" id="category-filter">
                <option value="All">Category</option>
            @foreach (var category in categories)
            {
                <option value="@category.Category">@category.Category</option>
            }
        </select>
        
        <select name="subcategories" id="subcategory-filter">
                <option value="All">Subcategory</option>
            @foreach (var subCategory in subCategories)
            {
                <option value="@subCategory.SubCategory">@subCategory.SubCategory</option>
            }
        </select>
    </div>
    <NavLink class="btn-theme" href="addproduct"><span><i class="fa-sharp fa-regular fa-circle-plus"></i> Add New</span></NavLink>
</div>
<div class="content-container">
    <div class="title-row row">
        <p>Title</p>
        <p>Category</p>
        <p>SubCatgory</p>
        <p>Format</p>
        <p>Price</p>
    </div>
    @if (products == null)
    {
        <p>Loading...</p>
    }
    else if (!products.Any())
    {
        <p>No products available.</p>
    }
    else
    {
        @foreach (var product in products)
        {
            <div class="product-row row">
                <p><i class="fa-regular fa-book"></i> - @product.Title</p>
                <p>@product.Category</p>
                <p>@product.SubCategory</p>
                <p>@product.Format</p>
                <p>@product.Price SEK</p>
                <button class="product-btn info"><i class="fa-regular fa-pen"></i></button>
                <button class="product-btn danger"><i class="fa-regular fa-trash"></i></button>
            </div>
        }
    }
</div>

@code {

    List<ProductModel> products = new();
    List<CategoryModel> categories = new();
    List<SubCategoryModel> subCategories = new();

    protected override async Task OnInitializedAsync()
    {
        products = await productService.GetProducts();
        categories = await categoryService.GetCategories();
        subCategories = await subCategoryService.GetSubCategories();
    }


}
